.about {
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    margin: 30px 40px;
    border-radius: 5px;
    background-color: #7B8FA1;
    box-shadow:  0 10px 20px #B2B2B2;


    .img {
        width: 600px;
        display: flex;
        padding: 20px;
        
        .zoo-kepper {
            margin: 5px 0 ;
        }
    }

    .about-zoo {
        width: 800px;
        text-align: center;
        overflow: hidden;
        margin: 20px 0 ;
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: lighter;
       padding-right: 50px;
    
        h3 {
            padding-bottom: 10px;
            letter-spacing: 3px;
            font-size: 2rem;
            font-weight: lighter;
        }
    }
}