.subscribe-giftcard-container {
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    margin: 20px 10px;

    .subscribe-container,.giftcard-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: flex-end;
        width: 50%;
        text-align: center;
        margin: 0 20px;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        
        .header-text {
            color: rgb(0, 0, 0);
            font-size: 1.5rem;
            letter-spacing: 1px;
            padding: 30px 0 ;
        }

        .email-input-subscribe {
            padding: 30px 0 ;

            input {
                width: 30rem;
                height: 2rem;
                border: 0.5px solid black;
                border-radius: 20px;
                text-align: left;
                font-size: 0.8rem;
                font-weight:200;
                padding: 0 10px;
                
            }
        }

        .button-subscribe {
            padding: 30px 0 ;

            button {
                width: 200px;
                height: 40px;
                border: 0.5px solid black;
                border-radius: 5px;
                background-color: white;
                letter-spacing: 1px;
                cursor: pointer;
                

            }
        }

        .giftcard-header-text {
            color: #6B728E;
            font-size: 1.5rem;
            letter-spacing: 1px;
            padding: 20px 0 ;
        }

        .giftcard-body-text,.giftcard-details-text {
            color: #6B728E;
            font-size: 1rem;
            letter-spacing: 1px;

            .fa-gift {
                font-size: 5rem;
                padding: 20px 0;
            }
        }  

        .giftcard-buy {
            display: flex;
            flex-direction: row;
            justify-content: center;
            justify-items: center;


            .giftcard-amount,.giftcard-minus,.giftcard-plus{
                padding: 20px 10px;
                
                input {
                    width: 40px;
                    height: 20px;
                    border: none;
                    border-radius: 5px;
                    text-align: center;
                    border: 0.5px solid black;

                }

                .fa-square-minus,.fa-square-plus{
                    font-size: 1.2rem;
                    
                }
            }
        }


        .giftcard-button {
                padding: 10px 0;

            button {
                width: 200px;
                height: 40px;
                border: 0.5px solid black;
                border-radius: 5px;
                background-color: white;
                letter-spacing: 1px;
                cursor: pointer;

            }
        }

        .giftcard-container-details {
            padding: 10px 0;
            color: #6B728E;
            font-size: 1rem;
            letter-spacing: 1px;
        }
    }

    .subscribe-container:hover,.giftcard-container:hover {
        transition: all 0.5s ease-in-out;
        box-shadow: 0 15px 25px #404258;

    }
}