* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* a {
  text-decoration: underline !important;
}

.navbar-container {
  background-color: rgba(64, 66, 88, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.navbar-container .navbar-logo {
  padding: 20px;
}
.navbar-container .navbar-logo .logo {
  color: white;
  font-size: 2rem;
  letter-spacing: 1px;
  padding: 30px 0;
  text-decoration: none;
}
.navbar-container .navbar-ticket {
  padding: 20px;
}
.navbar-container .navbar-ticket .ticket {
  width: 200px;
  height: 40px;
  border: 0.5px solid black;
  border-radius: 5px;
  background-color: white;
  letter-spacing: 1px;
  cursor: pointer;
}
.navbar-container .navbar-ticket .ticket .fa-ticket {
  padding: 0 5px;
  transform: rotate(-45deg);
}
.navbar-container .navbar-container2-change {
  display: none;
}
.navbar-container .navbar-container2-change .navbar-item .home:hover {
  display: block;
  color: red;
}
.navbar-container .navbar-container2 {
  padding: 20px 0;
  position: relative;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
  list-style-type: none;
  width: 55%;
}
.navbar-container .navbar-container2 .navbar-item {
  padding: 5px 0;
}
.navbar-container .navbar-container2 .navbar-item .navbar-link {
  color: white;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: lighter;
  text-decoration: none;
}
.navbar-container .navbar-container2 .navbar-item .navbar-link:hover {
  color: #000000;
  transition: all 0.5s ease-in-out;
}

.eventHero {
  height: 100vh;
  overflow: hidden;
}
.eventHero .eventTitle {
  width: 100%;
  text-align: center;
  font-family: "Secular One", sans-serif;
  font-size: 6rem;
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -55%);
  color: rgba(255, 255, 255, 0.668);
  z-index: 3;
}
.eventHero .scrolldown {
  border-radius: 50%;
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, 0%);
  opacity: 0.5;
  height: 20vh;
  animation: flash 1.5s linear infinite;
  transition: 10s;
}
@keyframes flash {
  0%, 100% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.3;
  }
}
.eventHero .hidden {
  animation: disappear 2s;
  opacity: 0;
  pointer-events: none !important;
}
@keyframes disappear {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
.eventHero .popin-pic {
  position: absolute;
  height: 100%;
  width: 100%;
  min-width: 600px;
}

.eventDetails {
  width: 80%;
  margin: 0 auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.eventDetails h1 {
  font-size: 3rem;
  color: black;
  text-align: center;
  margin-bottom: 3rem;
}
.eventDetails p {
  text-align: center;
  font-size: 1.5rem;
}
.eventDetails .hostEvent {
  border-radius: 20px;
  width: 100%;
  height: 200px;
  max-width: 1000px;
  margin: 0 auto;
  background: url("../imgs/whitetiger.jpg") no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 6rem;
}
.eventDetails .hostEvent .hostdetails {
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
.eventDetails .hostEvent .hostdetails h2 {
  font-size: 2.5rem;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  color: white;
}
.eventDetails .hostEvent .hostdetails a {
  color: white;
  font-size: 1.5rem;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  text-decoration: none !important;
}

.footer-container {
  width: 100%;
  height: 25rem;
  background-color: #404258;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
}
.footer-container .about-section,
.footer-container .opening-section,
.footer-container .socialmedia-navigation-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-items: center;
  text-align: center;
  width: 20rem;
}
.footer-container .about-section .header-text,
.footer-container .opening-section .header-text,
.footer-container .socialmedia-navigation-section .header-text {
  color: white;
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding: 30px 0;
}
.footer-container .about-section .about-navbar .socialmedia-navbar-elements,
.footer-container .about-section .about-navbar .app-navbar-elements,
.footer-container .about-section .opening-navbar .socialmedia-navbar-elements,
.footer-container .about-section .opening-navbar .app-navbar-elements,
.footer-container .about-section .socialmedia-navbar .socialmedia-navbar-elements,
.footer-container .about-section .socialmedia-navbar .app-navbar-elements,
.footer-container .about-section .app-navbar .socialmedia-navbar-elements,
.footer-container .about-section .app-navbar .app-navbar-elements,
.footer-container .opening-section .about-navbar .socialmedia-navbar-elements,
.footer-container .opening-section .about-navbar .app-navbar-elements,
.footer-container .opening-section .opening-navbar .socialmedia-navbar-elements,
.footer-container .opening-section .opening-navbar .app-navbar-elements,
.footer-container .opening-section .socialmedia-navbar .socialmedia-navbar-elements,
.footer-container .opening-section .socialmedia-navbar .app-navbar-elements,
.footer-container .opening-section .app-navbar .socialmedia-navbar-elements,
.footer-container .opening-section .app-navbar .app-navbar-elements,
.footer-container .socialmedia-navigation-section .about-navbar .socialmedia-navbar-elements,
.footer-container .socialmedia-navigation-section .about-navbar .app-navbar-elements,
.footer-container .socialmedia-navigation-section .opening-navbar .socialmedia-navbar-elements,
.footer-container .socialmedia-navigation-section .opening-navbar .app-navbar-elements,
.footer-container .socialmedia-navigation-section .socialmedia-navbar .socialmedia-navbar-elements,
.footer-container .socialmedia-navigation-section .socialmedia-navbar .app-navbar-elements,
.footer-container .socialmedia-navigation-section .app-navbar .socialmedia-navbar-elements,
.footer-container .socialmedia-navigation-section .app-navbar .app-navbar-elements {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.footer-container .about-section .about-navbar .socialmedia-navbar-elements .navbar-links,
.footer-container .about-section .about-navbar .app-navbar-elements .navbar-links,
.footer-container .about-section .opening-navbar .socialmedia-navbar-elements .navbar-links,
.footer-container .about-section .opening-navbar .app-navbar-elements .navbar-links,
.footer-container .about-section .socialmedia-navbar .socialmedia-navbar-elements .navbar-links,
.footer-container .about-section .socialmedia-navbar .app-navbar-elements .navbar-links,
.footer-container .about-section .app-navbar .socialmedia-navbar-elements .navbar-links,
.footer-container .about-section .app-navbar .app-navbar-elements .navbar-links,
.footer-container .opening-section .about-navbar .socialmedia-navbar-elements .navbar-links,
.footer-container .opening-section .about-navbar .app-navbar-elements .navbar-links,
.footer-container .opening-section .opening-navbar .socialmedia-navbar-elements .navbar-links,
.footer-container .opening-section .opening-navbar .app-navbar-elements .navbar-links,
.footer-container .opening-section .socialmedia-navbar .socialmedia-navbar-elements .navbar-links,
.footer-container .opening-section .socialmedia-navbar .app-navbar-elements .navbar-links,
.footer-container .opening-section .app-navbar .socialmedia-navbar-elements .navbar-links,
.footer-container .opening-section .app-navbar .app-navbar-elements .navbar-links,
.footer-container .socialmedia-navigation-section .about-navbar .socialmedia-navbar-elements .navbar-links,
.footer-container .socialmedia-navigation-section .about-navbar .app-navbar-elements .navbar-links,
.footer-container .socialmedia-navigation-section .opening-navbar .socialmedia-navbar-elements .navbar-links,
.footer-container .socialmedia-navigation-section .opening-navbar .app-navbar-elements .navbar-links,
.footer-container .socialmedia-navigation-section .socialmedia-navbar .socialmedia-navbar-elements .navbar-links,
.footer-container .socialmedia-navigation-section .socialmedia-navbar .app-navbar-elements .navbar-links,
.footer-container .socialmedia-navigation-section .app-navbar .socialmedia-navbar-elements .navbar-links,
.footer-container .socialmedia-navigation-section .app-navbar .app-navbar-elements .navbar-links {
  padding: 6px 0;
}
.footer-container .about-section .about-navbar .socialmedia-navbar-elements .navbar-links .text-links,
.footer-container .about-section .about-navbar .app-navbar-elements .navbar-links .text-links,
.footer-container .about-section .opening-navbar .socialmedia-navbar-elements .navbar-links .text-links,
.footer-container .about-section .opening-navbar .app-navbar-elements .navbar-links .text-links,
.footer-container .about-section .socialmedia-navbar .socialmedia-navbar-elements .navbar-links .text-links,
.footer-container .about-section .socialmedia-navbar .app-navbar-elements .navbar-links .text-links,
.footer-container .about-section .app-navbar .socialmedia-navbar-elements .navbar-links .text-links,
.footer-container .about-section .app-navbar .app-navbar-elements .navbar-links .text-links,
.footer-container .opening-section .about-navbar .socialmedia-navbar-elements .navbar-links .text-links,
.footer-container .opening-section .about-navbar .app-navbar-elements .navbar-links .text-links,
.footer-container .opening-section .opening-navbar .socialmedia-navbar-elements .navbar-links .text-links,
.footer-container .opening-section .opening-navbar .app-navbar-elements .navbar-links .text-links,
.footer-container .opening-section .socialmedia-navbar .socialmedia-navbar-elements .navbar-links .text-links,
.footer-container .opening-section .socialmedia-navbar .app-navbar-elements .navbar-links .text-links,
.footer-container .opening-section .app-navbar .socialmedia-navbar-elements .navbar-links .text-links,
.footer-container .opening-section .app-navbar .app-navbar-elements .navbar-links .text-links,
.footer-container .socialmedia-navigation-section .about-navbar .socialmedia-navbar-elements .navbar-links .text-links,
.footer-container .socialmedia-navigation-section .about-navbar .app-navbar-elements .navbar-links .text-links,
.footer-container .socialmedia-navigation-section .opening-navbar .socialmedia-navbar-elements .navbar-links .text-links,
.footer-container .socialmedia-navigation-section .opening-navbar .app-navbar-elements .navbar-links .text-links,
.footer-container .socialmedia-navigation-section .socialmedia-navbar .socialmedia-navbar-elements .navbar-links .text-links,
.footer-container .socialmedia-navigation-section .socialmedia-navbar .app-navbar-elements .navbar-links .text-links,
.footer-container .socialmedia-navigation-section .app-navbar .socialmedia-navbar-elements .navbar-links .text-links,
.footer-container .socialmedia-navigation-section .app-navbar .app-navbar-elements .navbar-links .text-links {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
.footer-container .about-section .about-navbar .socialmedia-navbar-elements .app-navbar-links,
.footer-container .about-section .about-navbar .app-navbar-elements .app-navbar-links,
.footer-container .about-section .opening-navbar .socialmedia-navbar-elements .app-navbar-links,
.footer-container .about-section .opening-navbar .app-navbar-elements .app-navbar-links,
.footer-container .about-section .socialmedia-navbar .socialmedia-navbar-elements .app-navbar-links,
.footer-container .about-section .socialmedia-navbar .app-navbar-elements .app-navbar-links,
.footer-container .about-section .app-navbar .socialmedia-navbar-elements .app-navbar-links,
.footer-container .about-section .app-navbar .app-navbar-elements .app-navbar-links,
.footer-container .opening-section .about-navbar .socialmedia-navbar-elements .app-navbar-links,
.footer-container .opening-section .about-navbar .app-navbar-elements .app-navbar-links,
.footer-container .opening-section .opening-navbar .socialmedia-navbar-elements .app-navbar-links,
.footer-container .opening-section .opening-navbar .app-navbar-elements .app-navbar-links,
.footer-container .opening-section .socialmedia-navbar .socialmedia-navbar-elements .app-navbar-links,
.footer-container .opening-section .socialmedia-navbar .app-navbar-elements .app-navbar-links,
.footer-container .opening-section .app-navbar .socialmedia-navbar-elements .app-navbar-links,
.footer-container .opening-section .app-navbar .app-navbar-elements .app-navbar-links,
.footer-container .socialmedia-navigation-section .about-navbar .socialmedia-navbar-elements .app-navbar-links,
.footer-container .socialmedia-navigation-section .about-navbar .app-navbar-elements .app-navbar-links,
.footer-container .socialmedia-navigation-section .opening-navbar .socialmedia-navbar-elements .app-navbar-links,
.footer-container .socialmedia-navigation-section .opening-navbar .app-navbar-elements .app-navbar-links,
.footer-container .socialmedia-navigation-section .socialmedia-navbar .socialmedia-navbar-elements .app-navbar-links,
.footer-container .socialmedia-navigation-section .socialmedia-navbar .app-navbar-elements .app-navbar-links,
.footer-container .socialmedia-navigation-section .app-navbar .socialmedia-navbar-elements .app-navbar-links,
.footer-container .socialmedia-navigation-section .app-navbar .app-navbar-elements .app-navbar-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  background-color: #6b728e;
  border: 0.5px solid black;
  width: 100px;
  height: 40px;
  margin: 0 10px;
}
.footer-container .about-section .about-navbar .socialmedia-navbar-elements .app-navbar-links .app-links,
.footer-container .about-section .about-navbar .app-navbar-elements .app-navbar-links .app-links,
.footer-container .about-section .opening-navbar .socialmedia-navbar-elements .app-navbar-links .app-links,
.footer-container .about-section .opening-navbar .app-navbar-elements .app-navbar-links .app-links,
.footer-container .about-section .socialmedia-navbar .socialmedia-navbar-elements .app-navbar-links .app-links,
.footer-container .about-section .socialmedia-navbar .app-navbar-elements .app-navbar-links .app-links,
.footer-container .about-section .app-navbar .socialmedia-navbar-elements .app-navbar-links .app-links,
.footer-container .about-section .app-navbar .app-navbar-elements .app-navbar-links .app-links,
.footer-container .opening-section .about-navbar .socialmedia-navbar-elements .app-navbar-links .app-links,
.footer-container .opening-section .about-navbar .app-navbar-elements .app-navbar-links .app-links,
.footer-container .opening-section .opening-navbar .socialmedia-navbar-elements .app-navbar-links .app-links,
.footer-container .opening-section .opening-navbar .app-navbar-elements .app-navbar-links .app-links,
.footer-container .opening-section .socialmedia-navbar .socialmedia-navbar-elements .app-navbar-links .app-links,
.footer-container .opening-section .socialmedia-navbar .app-navbar-elements .app-navbar-links .app-links,
.footer-container .opening-section .app-navbar .socialmedia-navbar-elements .app-navbar-links .app-links,
.footer-container .opening-section .app-navbar .app-navbar-elements .app-navbar-links .app-links,
.footer-container .socialmedia-navigation-section .about-navbar .socialmedia-navbar-elements .app-navbar-links .app-links,
.footer-container .socialmedia-navigation-section .about-navbar .app-navbar-elements .app-navbar-links .app-links,
.footer-container .socialmedia-navigation-section .opening-navbar .socialmedia-navbar-elements .app-navbar-links .app-links,
.footer-container .socialmedia-navigation-section .opening-navbar .app-navbar-elements .app-navbar-links .app-links,
.footer-container .socialmedia-navigation-section .socialmedia-navbar .socialmedia-navbar-elements .app-navbar-links .app-links,
.footer-container .socialmedia-navigation-section .socialmedia-navbar .app-navbar-elements .app-navbar-links .app-links,
.footer-container .socialmedia-navigation-section .app-navbar .socialmedia-navbar-elements .app-navbar-links .app-links,
.footer-container .socialmedia-navigation-section .app-navbar .app-navbar-elements .app-navbar-links .app-links {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
.footer-container .about-section .about-navbar .navbar-elements,
.footer-container .about-section .opening-navbar .navbar-elements,
.footer-container .about-section .socialmedia-navbar .navbar-elements,
.footer-container .about-section .app-navbar .navbar-elements,
.footer-container .opening-section .about-navbar .navbar-elements,
.footer-container .opening-section .opening-navbar .navbar-elements,
.footer-container .opening-section .socialmedia-navbar .navbar-elements,
.footer-container .opening-section .app-navbar .navbar-elements,
.footer-container .socialmedia-navigation-section .about-navbar .navbar-elements,
.footer-container .socialmedia-navigation-section .opening-navbar .navbar-elements,
.footer-container .socialmedia-navigation-section .socialmedia-navbar .navbar-elements,
.footer-container .socialmedia-navigation-section .app-navbar .navbar-elements {
  list-style-type: none;
}
.footer-container .about-section .about-navbar .navbar-elements .navbar-links,
.footer-container .about-section .opening-navbar .navbar-elements .navbar-links,
.footer-container .about-section .socialmedia-navbar .navbar-elements .navbar-links,
.footer-container .about-section .app-navbar .navbar-elements .navbar-links,
.footer-container .opening-section .about-navbar .navbar-elements .navbar-links,
.footer-container .opening-section .opening-navbar .navbar-elements .navbar-links,
.footer-container .opening-section .socialmedia-navbar .navbar-elements .navbar-links,
.footer-container .opening-section .app-navbar .navbar-elements .navbar-links,
.footer-container .socialmedia-navigation-section .about-navbar .navbar-elements .navbar-links,
.footer-container .socialmedia-navigation-section .opening-navbar .navbar-elements .navbar-links,
.footer-container .socialmedia-navigation-section .socialmedia-navbar .navbar-elements .navbar-links,
.footer-container .socialmedia-navigation-section .app-navbar .navbar-elements .navbar-links {
  padding: 8px 0;
}
.footer-container .about-section .about-navbar .navbar-elements .navbar-links .text-links,
.footer-container .about-section .opening-navbar .navbar-elements .navbar-links .text-links,
.footer-container .about-section .socialmedia-navbar .navbar-elements .navbar-links .text-links,
.footer-container .about-section .app-navbar .navbar-elements .navbar-links .text-links,
.footer-container .opening-section .about-navbar .navbar-elements .navbar-links .text-links,
.footer-container .opening-section .opening-navbar .navbar-elements .navbar-links .text-links,
.footer-container .opening-section .socialmedia-navbar .navbar-elements .navbar-links .text-links,
.footer-container .opening-section .app-navbar .navbar-elements .navbar-links .text-links,
.footer-container .socialmedia-navigation-section .about-navbar .navbar-elements .navbar-links .text-links,
.footer-container .socialmedia-navigation-section .opening-navbar .navbar-elements .navbar-links .text-links,
.footer-container .socialmedia-navigation-section .socialmedia-navbar .navbar-elements .navbar-links .text-links,
.footer-container .socialmedia-navigation-section .app-navbar .navbar-elements .navbar-links .text-links {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  letter-spacing: 1px;
}
.footer-container .about-section .about-navbar .navbar-elements .navbar-links .about-text-links,
.footer-container .about-section .opening-navbar .navbar-elements .navbar-links .about-text-links,
.footer-container .about-section .socialmedia-navbar .navbar-elements .navbar-links .about-text-links,
.footer-container .about-section .app-navbar .navbar-elements .navbar-links .about-text-links,
.footer-container .opening-section .about-navbar .navbar-elements .navbar-links .about-text-links,
.footer-container .opening-section .opening-navbar .navbar-elements .navbar-links .about-text-links,
.footer-container .opening-section .socialmedia-navbar .navbar-elements .navbar-links .about-text-links,
.footer-container .opening-section .app-navbar .navbar-elements .navbar-links .about-text-links,
.footer-container .socialmedia-navigation-section .about-navbar .navbar-elements .navbar-links .about-text-links,
.footer-container .socialmedia-navigation-section .opening-navbar .navbar-elements .navbar-links .about-text-links,
.footer-container .socialmedia-navigation-section .socialmedia-navbar .navbar-elements .navbar-links .about-text-links,
.footer-container .socialmedia-navigation-section .app-navbar .navbar-elements .navbar-links .about-text-links {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
.footer-container .about-section .about-navbar .navbar-elements .navbar-links .about-text-links:hover,
.footer-container .about-section .opening-navbar .navbar-elements .navbar-links .about-text-links:hover,
.footer-container .about-section .socialmedia-navbar .navbar-elements .navbar-links .about-text-links:hover,
.footer-container .about-section .app-navbar .navbar-elements .navbar-links .about-text-links:hover,
.footer-container .opening-section .about-navbar .navbar-elements .navbar-links .about-text-links:hover,
.footer-container .opening-section .opening-navbar .navbar-elements .navbar-links .about-text-links:hover,
.footer-container .opening-section .socialmedia-navbar .navbar-elements .navbar-links .about-text-links:hover,
.footer-container .opening-section .app-navbar .navbar-elements .navbar-links .about-text-links:hover,
.footer-container .socialmedia-navigation-section .about-navbar .navbar-elements .navbar-links .about-text-links:hover,
.footer-container .socialmedia-navigation-section .opening-navbar .navbar-elements .navbar-links .about-text-links:hover,
.footer-container .socialmedia-navigation-section .socialmedia-navbar .navbar-elements .navbar-links .about-text-links:hover,
.footer-container .socialmedia-navigation-section .app-navbar .navbar-elements .navbar-links .about-text-links:hover {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

/*# sourceMappingURL=eventPage-style.css.map */
