header {
    background-color: cadetblue;
    height: 80px;
}

#play-field {
    margin: auto;
    display: grid;
    column-gap: 15px;
    row-gap: 15px;
    align-items: center;
    justify-items: center;
    border: solid;
}

#matched-cards-field {
    display: flex;
    justify-content: space-evenly;
    border: solid;
    height: 150px;
}

