@use "../variable/variable.scss" as var;

#title-hero{
    width: 100%;
    height: 25rem;
    .hero-container{
        
        background:url("assets/img/bird.jpg") no-repeat center/cover;
        width: 100%;
        height: 25rem;
        h1{
            text-align: center;
            color: var.$text-white;
            line-height: 20rem;
            letter-spacing: 1rem;
        }
    }    
}