@use "../variable/variable.scss" as var;

.info-container{
    margin: 4rem auto;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;

    .address{
        margin: auto;
        width: 500px;
        max-width: 50%;
        height: 420px;
        padding: 2rem;
        border: 1px solid var.$frame;
        h3{
            font-size: 1.5rem;
        }
    }
    .note{
        margin: auto;
        width: 450px;
        max-width:45%;
        height: 420px;
        padding: 2rem;
        border: 1px solid var.$frame;

        span{
            color:var.$important;
        }
   
    }
}