@use "../variable/variable.scss" as var;

    .ticket-container{
    
        margin: 4rem auto;
        width: 90%;
        height: auto;
        border: 1px solid var.$frame;
        h2{
            background-color: var.$accent;
            color: var.$text-white;
            text-align: center;
            padding: 1rem;
            
        }
        .tickts-list{
            list-style: none;
        }
       
        .ticket-item{
            margin: 0;
            padding: 0.5rem 1rem;
            border-top: 1px solid var.$frame;
            display: flex;
           flex-direction: row;
           .age-grouping{
            width: 60%;
            
            p{
                text-align: center;
            }
           }
           .price{
            margin: auto;
            width: 40%;
            display: flex;
            flex-direction: row;
            font-size: 2rem;
           }
           .amount{
            margin: 1rem;
            input{
                width: 4rem;
                font-size: 1.5rem;
                height: auto;
                &:hover {
                    transition: all 0.1s ease-in-out;
                    box-shadow: 0 5px 10px #404258;
                    box-shadow: 0 -5px -10px #404258;
            
                  }
                
               }
            }
            
           }
           

      
        
    }
    .orderDetail{
        margin: 4rem auto;
        width: 90%;
        height: auto;
        border: 1px solid var.$frame;
        .detail-title{
            background-color: var.$accent;
            color: var.$text-white;
        }
        .cart-list{
            list-style:none;
            .cart-item{
                background-color: white;
                color: var.$text-black;
                margin: 0;
                padding: 0.5rem 1rem;
                border-top: 1px solid var.$frame;
                display: flex;
               flex-direction: row;
               h3{
                margin: auto;
                width: 20%;
                }
                .price{
                    margin: auto;
                    width: 40%;
                    display: flex;
                    flex-direction: row;
                    font-size: 2rem;
                   }
                   .amount-incart{
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    margin: 1rem;
                    input{
                        width: 4rem;
                        font-size: 1.5rem;
                        height: auto;
                        &:hover {
                    transition: all 0.1s ease-in-out;
                    box-shadow: 0 5px 10px #404258;
                    box-shadow: 0 -5px -10px #404258;
            
                  }
                       }

                   }
                .cart-delete{
                    display: block;
                    background-color: inherit;
                    width: 10%;
                    height: auto;
                    a:hover{
                        color: var.$important;
                    }
                }
            }
        }

        
    }
    .subtotal, .toInfo{
            margin: 1rem auto;
            width: 75%;
            text-align: center;
            
        }
        .subtotal{
            transition: all 0.15s ease-in-out;
        }
        .toInfo{
            a:hover {
                transition: all 0.1s ease-in-out;
                box-shadow: 0 1px 2px #404258;
               color: orange;
        
              }
        }

